<div class="container">
    <aside class="sidebar">
     <div class="sidebar-content">
        <h2>Filtrele</h2>
        <ul>
          <li>
            <label for="filterOption1">
              <input type="checkbox" id="filterOption1"> Seçenek 1
            </label>
          </li>
          <li>
            <label for="filterOption2">
              <input type="checkbox" id="filterOption2"> Seçenek 2
            </label>
          </li>
          <li>
            <label for="filterOption3">
              <input type="checkbox" id="filterOption3"> Seçenek 3
            </label>
          </li>
          <li>
            <label for="filterOption4">
              <input type="checkbox" id="filterOption4"> Seçenek 4
            </label>
          </li>
          <li>
            <label for="filterOption5">
              <input type="checkbox" id="filterOption5"> Seçenek 5
            </label>
          </li>
          <li>
            <label for="filterOption6">
              <input type="checkbox" id="filterOption6"> Seçenek 6
            </label>
          </li>
          <li>
            <label for="filterOption6">
              <input type="checkbox" id="filterOption6"> Seçenek 6
            </label>
          </li>
          <li>
            <label for="filterOption6">
              <input type="checkbox" id="filterOption6"> Seçenek 6
            </label>
          </li>
          <li>
            <label for="filterOption6">
              <input type="checkbox" id="filterOption6"> Seçenek 6
            </label>
          </li>
          
        </ul>
        <select>
          <option value="option1">Seçenek 1</option>
          <option value="option2">Seçenek 2</option>
          <option value="option3">Seçenek 3</option>
          <option value="option4">Seçenek 4</option>
          <option value="option5">Seçenek 5</option>
        
        </select>
        <h3>Kategori</h3>
        <label>
          <input type="radio" name="category" value="electronics"> Ekonomi
        </label>
        <label>
          <input type="radio" name="category" value="clothing">Spor
        </label>
        <label>
          <input type="radio" name="category" value="books">Teknoloji
        </label>
        <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#f4f2f2" type = "ball-square-spin" [fullScreen] = "true"><p style="color: #8DBAD9" > Yükleniyor... </p></ngx-spinner>

      <button (click)="callSpinner()">Filtrele</button>
     </div>
    </aside>
  </div>
  
  