<!-- Slider Bileşeni -->
<div class="card mt-4">
  <div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-ride="carousel" data-bs-touch="false">
    <div class="carousel-inner" style="text-align: center;">
      <div class="carousel-item" *ngFor="let post of currentPosts.slice(-3); let i = index" [class.active]="i === 0">
        <a [href]="post.url" target="_blank">
          <img *ngIf="post.urlToImage" [src]="post.urlToImage" alt="Haber Resmi" style="margin: 0 auto; width: 100%;">
          <img *ngIf="!post.urlToImage" src="https://as2.ftcdn.net/v2/jpg/06/18/76/21/1000_F_618762136_Av5UakXho5YgedwH43fIfnIWWdFMOogG.jpg" style="width: 100%;">
          <div class="carousel-caption" style="background: rgba(0, 0, 0, 0.5); color: white;">
            <h3 style="font-size: 18px;">{{ post.title }}</h3>
          </div>
        </a>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Önceki</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Sonraki</span>
    </button>
  </div>
</div>


<!-- Haberler Bileşeni -->
<div class="container">
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
    <div class="col" *ngFor="let post of currentPosts">
      <div class="card mb-4">
        <img *ngIf="post.urlToImage; else noImage" [src]="post.urlToImage" alt="Haber Resmi" class="card-img-top">
        <ng-template #noImage>
          <!-- <img src="https://cdn.create.vista.com/api/media/small/415552188/stock-video-digital-world-breaking-news-studio-background-news-report-breaking-news?videoStaticPreview=true&token=" class="card-img-top"> -->
        </ng-template>
        <div class="card-body">
          <h5 class="card-title">{{ post.title }}</h5>
          <p class="card-text">{{ post.description }}</p>
        </div>
        <div class="card-footer">
          <a [href]="post.url" target="_blank" class="btn btn-primary">Devamını Oku</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Sayfalama Bileşeni -->
<div class="container">
  <ul class="pagination justify-content-end">
    <li class="page-item" *ngFor="let page of pages; let i = index" [class.active]="i + 1 === currentPage">
      <a class="page-link" (click)="setCurrentPage(i + 1)">{{ i + 1 }}</a>
    </li>
  </ul>
</div>
